<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewBag.Title</title>

    <!-- Description, Keywords and Author -->
    <meta name="description" content="The Guide for making selftrips" />
    <meta name="keywords" content="MVC, ASP.5, Entity Framework, C#, AngularJS" />
    <meta name="author" content="Olga Ermolenko" />

    
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/lib/bootswatch/flatly/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/lib/font-awesome/css/font-awesome.min.css" />

</head>
<body>


    <!-- Body Wrapper -->
     <div class="wrapper">
        <div class="navbar navbar-default">
            <div class="container_">
                <div class="navbar-header">
                        <a id="sidebar-toggle" class="btn btn-primary navbar-left">
                            <i class="fa fa-align-justify"></i>
                        </a>

                        <a href="../" class="navbar-brand">TourGuide</a>
                </div>
                <div class="navbar-collapse collapse" id="navbar-main">
                    <ul class="nav navbar-nav">
                        <li>
                            <a id="registerPage" href="/Home/Contact">Contact</a>
                        </li>
                    </ul>

                            <ul class="nav navbar-nav navbar-right">
                            @if (User.Identity.IsAuthenticated)
                            {
                                <li>
                                    <a id="logoutPage" asp-controller="Account" asp-action="Logout">Logout</a>
                                </li>
                            }
                            else
                            { 
                                <li>
                                    <a id="registerPage" asp-controller="Account" asp-action="Register">Register</a>

                                </li>
                                <li>
                                    <a id="loginPage" asp-controller="Account" asp-action="Login">Login</a>

                                </li>
                                }
                            </ul>
                        </div>
            </div>
        </div>

        <div class="container">
            <nav class="sidebar navbar-inverse" id="sidebar">
            @if (User.Identity.IsAuthenticated)
            {
                <a asp-controller="Home" asp-action="Routes" id="sidebar-routes" title="View my routes" class="btn btn-success">
                    <i class="fa fa-database"></i>
                </a>
            }
            else
            {
                <a asp-controller="Account" asp-action="Login" id="sidebar-sign-in" title="Sign in" class="btn btn-success">
                    <i class="fa fa-sign-in"></i>
                </a>
            }
            <a asp-controller="Home" asp-action="Search" id="sidebar-search" title="Search the route" class="btn btn-success">
                <i class="fa fa-search"></i>
            </a>
            @if (User.Identity.IsAuthenticated)
            {
                <a asp-controller="Account" asp-action="Logout" id="sidebar-sign-out" title="Sign out" class="btn btn-success">
                    <i class="fa fa-sign-out"></i>
                </a>
            }
            </nav>
            @*<nav class="sidebar navbar-inverse" id="sidebar">
                @if (User.Identity.IsAuthenticated)
                {
                    <h5 class="sidebar-text">Hello, @User.Identity.Name</h5>
                }
                <ul class="nav navbar">
                    @if (User.Identity.IsAuthenticated)
                    {
                        <li class="active"><a asp-controller="Home" asp-action="Routes" class="navbar-link">MyRoutes</a></li>
                        <li><a asp-controller="Home" asp-action="NewRoute" class="navbar-link">Create new</a></li>
                        <li><a asp-controller="Account" asp-action="Logout" class="navbar-link">Logout</a></li>
                    }
                </ul>
                @*<div id="sidebar_contacts">
                    <div class="address">
                        <a id="contactPage" asp-controller="Home" asp-action="Contacts">

                                <strong>Contacts</strong>
                           
                        </a>
                        <p>E-mail: magicbell@mail.ua</p>
                    </div>
                </div>
            </nav>*@
            <div class="main_container" id="main_container">
                
                <div id="main" class="container-fluid">
                    
                    <div>
                        @RenderBody()
                    </div>
                </div>
            </div>

        </div>


        <div class="footer">
            <div class="row">
                <p class="text-center"> &copy; 2016 Magicbell Ltd.</p>
            </div>
        </div>
    </div>

    <script type="text/javascript" src="~/lib/jquery/dist/jquery.min.js"></script>
    <script type="text/javascript" src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>


    <script type="text/javascript" src="~/js/site.js"></script>
    @RenderSection("Scripts", false)

</body>
</html>
