@{
    ViewBag.Title = "Home Page";
}

<div class="row">
    <div class="col-md-6 col-md-offset-3">
        <h1>Welcome to TourGuide</h1>
        <!-- Этот сайт поможет вам запланировать тур осмотра достопримечательностей вашего путешествия,
     а также с помощью мобильного приложения отследить свое месторасположение и прослушать информацию о достопримечательностях,
     находящихся на пути вашего следования.
     Вы можете выбирать готовые маршруты, создавать свои, руководствуясь путеводителями, делиться составленными
     маршрутами. -->
        <p>This site will help you to plan your sightseeing tour and through mobile application
            you can track your location and listen information about sightseeing on the way.</p>
        <p>You can choose a ready route or create your own and share it.</p>
        <a href="@Url.Action("Routes", "Home")" class="btn btn-info">View my Routes</a>
</div>
</div>