@{
    ViewBag.Title = "TourGuide.com";
}

<div ng-app="routesApp" class="row">

    <div ng-view></div>
    
</div>

@section Scripts {
    <script src="~/lib/underscore/underscore-min.js"></script>
    <script src="~/lib/angular/angular.min.js"></script>
    <script src="~/lib/angular-route/angular-route.min.js"></script>
    <script src="http://maps.googleapis.com/maps/api/js?sensor=false"></script>
    <script src="~/lib/gmaps/gmaps.min.js"></script>
    <script src="~/lib/travelmap/travelmap.min.js"></script>
    <script src="~/js/routesController.js"></script>
    <script src="~/js/routeEditorController.js"></script>
    <script src="~/js/app-routes.js"></script>
    <script src="~/js/simpleControls.js"></script>
    
}
