body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

.navbar{
    background-image: url("/img/noise.png");
}

.header{
    position: relative;
    z-index: 3;
    padding: 0 0 .4em;
    position: absolute;
    width: 100%;
}

.navbar-right{
    padding-right: 10px;
}

.wrapper{
    position: absolute;
    width: 100%;
   // background-color: #613F6F;
   // background-image: url("/img/noise.png");
    height: 100%;
}

.sidebar:before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    height: 6px;
    width: 100%;
   // background: url(../i/layout/bg-pattern.png);
}

.sidebar {
    position: relative;
    float: left;
    z-index: 3;
    width: 20%;
  //  background-color: #82A83F;
    background: transparent linear-gradient(to bottom, #82A83F 0, #7CA33A 34%, #8DB740 100%) repeat scroll 0 0;
 //   border-radius: 8px;
 //   top: 10px;
 //   left: 10px;
    padding-top: 1.2em;
    overflow: hidden;
    height:100%;
    transition: left ease .45s;
}

.sidebar.hidden-sidebar{
    left:-20%;
    transition: left ease .45s;
}

.container{
    position: absolute;
    z-index:2;
    padding: 60px 0 60px;
    box-sizing: border-box;
    margin: 0px auto;
    width:100%;
}

.main_container{
    position: relative;
    float: left;
    background: #fff;
    width: 78.2%;
    border-radius: 8px;
    left: 10px;
    z-index: 3;
    padding: 1.2em;
    transition: left ease .45s;
}

.main_container.hidden-sidebar{
    left:0;
    position: absolute;
    width: 100%;
    transition: left ease .45s;
}

.footer{
    position: absolute;
    z-index: 1;
    padding: 19px;
    background-color: #2C3E50;
    height: 60px;
    bottom: 0px;
    width: 100%;
    background-image: url("/img/noise.png");
    color:white;
}

#sidebar_contacts{
    position: relative;
    background-color: rgba(0,88,22,.3);
    border: 2px double rgba(255,255,255,.5);
    border-radius: 10px;
    margin: 0 7% 2.4em;
    padding: 1.2em .8em;
    text-align: center;
    color: #fff;
    font-size: 12px;
    text-shadow: rgb(0,74,2) 0 1px 2px;
    min-height: 30px;
}

.main::after {
    content: "";
    position: absolute;
    bottom: -50px;
    left: 0px;
    width: 100%;
    height: 50px;
    background-image: url("/img/shadow.png");
    background-position: 0px -30px;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}